# Python
**/__pycache__
**/.venv

# Development tools
**/.git
**/.vscode
**/.env
.editorconfig
.pre-commit-config
Taskfile.yaml

# Docker
**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

# Documentation & CI
LICENSE
README.md
tests/
.github

# IDE & Build artifacts
**/.classpath
**/.project
**/.settings
**/.vs
**/bin
**/obj
**/node_modules

# Misc
**/.gitignore
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
.roo*
